body {
    box-sizing: border-box;
    display: flex;
    font-size: 4rem;
    font-weight: bold;
}
p {
    text-align: center;
}
.positive {
    color: green;
}
.negative {
    color: red;
}
.zero {
    color: black;
}
#decrease-btn {
    color: lightpink;
    background: darkred;
}
#increase-btn {
    color: lightgreen;
    background: darkgreen;
}
#reset-btn {
    color: white;
    background: darkgray;
}
#reset-btn:hover {
    background: black;
    color : white;
}
#increase-btn:hover {
    background: black;
    color : white;
}
#decrease-btn:hover {
    background: black;
    color : white;
}